{{#each this}}
<div class="card-item">
    <h2 class="card-tittle">{{name}}</h2>
    <div class="card-container">
        <div class="card-information">
            <p><span class="information-tittle">Capital:</span> {{capital}}</p>
            <p><span class="information-tittle">Population:</span> {{population}}</p>
            <p class="information-tittle">Languages:</p>
            {{#each languages}}
            <ul class="languages">
                <li class="language">{{name}}</li>
            </ul>
            {{/each}}
        </div>
        <img src="{{flag}}" alt="{{name}}" class="card-img">
    </div>
</div>
{{/each}}